/* Importing the Poppins font from Google Fonts  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

/* Basic styling for the body */
body {
    font-family: "Poppins", sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

/* Styling for the header */
header {
    background-color: #767bb2;
    color: #fff;
    padding: 1.5rem 0;
    text-align: center;
    margin-bottom: 2rem;
}

/* Styling for the navigation menu */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Styling for the main content */
main {
    flex: 1;
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
}

/* Styling for form groups */
.form-group {
    margin-bottom: 2rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

input[type="text"],
input[type="number"] {
    width: 90%;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

section {
    margin-bottom: 2rem;
}

h1 {
    margin: 0;
    font-size: 2rem;
}

h2 {
    margin-top: 0;
}

ol {
    padding-left: 1.5rem;
}

/* Styling for buttons */
button {
    padding: 1rem 2rem;
    background-color: #767bb2;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #555;
}

/* Styling for the footer */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-top: 10vh;
    padding-bottom: 2rem;
    background-color: #767bb2;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

footer div {
    text-align: left;
    width: 90%;
    padding-left: 2rem;
    margin-bottom: auto;
}

footer div ul {
    list-style-type: none;
    padding: 0;
}

footer div ul li {
    margin-bottom: 0.5rem;
}

footer div ul li a {
    color: #fff;
    text-decoration: none;
}

/* Media query for screens smaller than 600px */
@media (max-width: 600px) {
    
    /* Centering main content */
    main {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* Centering submit button */
    .submit {
        text-align: center;
    }

    /* Adjusting input width */
    input[type="text"],
    input[type="number"] {
        width: auto;
        padding: 0.5rem;
    }
    
    /* Adjusting footer layout */
    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        margin-top: 5rem;
    }

    /* Hiding secondary div in footer */
    footer div {
        text-align: center;
        width: 90%;
        padding-left: 0;
        padding-bottom: 0;
        display: none;
    }
    
    /* Displaying primary div in footer */
    footer div:first-child {
        display: block;
    }
}